.button_bg {
  background: linear-gradient(90deg, #095bc7 0%, #38c5f8 100%);
}

.shadow {
  -webkit-box-shadow: 7px -16px 162px 40px rgb(67, 33, 118, 1) !important;
  -moz-box-shadow: 7px -16px 162px 40px rgba(67, 33, 118, 1) !important;
  box-shadow: 7px -16px 162px 40px rgba(67, 33, 118, 1) !important;
}
